.products__item {
    width: calc(100% - 40px);
    min-height: 400px;
    display: flex;
    justify-content: center;
    margin: 0px 20px 20px;
}

@media (min-width: 460px) {
    .products__item {
        width: calc(50% - 40px);
        min-height: 475px;
        margin: 0px 20px 40px;
    }
}

@media (min-width: 768px) {
    .products__item {
        width: calc(33.333% - 40px);
        min-height: 500px;
    }
}

@media (min-width: 1024px) {
    .products__item {
        width: calc(25% - 40px);
        min-height: 550px;
    }
}

.products__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__image {
    width: 100%;
    height: 350px;
}

@media (min-width: 1024px) {
    .products__image {
        height: 400px;
    }
}

.products__image img {
    width: 100%;
    height: 100%;
}

.products__title {
    margin: 20px 0px 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

@media (min-width: 768px) {
    .products__title {
        font-size: 24px;
    }
}

.products__price {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .products__price {
        font-size: 20px;
    }
}

.products__btn {
    padding: 10px 35px;
    margin-top: auto;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    border: 3px solid #000000;
    border-radius: 4px;
    text-transform: uppercase;
    background: #000000;
}

.products__btn:hover {
    border: 3px solid #000000;
    color: #000000;
    background: #ffffff;
}

@media (min-width: 768px) {
    .products__btn {
        font-size: 14px;
    }
}

.products__warning {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}