.cart__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media (min-width: 768px) {
    .cart__inner {
        justify-content: center;
        align-items: center;
    }
}